In [68]:
import pandas as pd

In [69]:
bookings = pd.read_csv('2_bookings.csv', encoding = 'UTF-8', sep = ';')

In [72]:
import pandas as pd

s = pd.Series(bookings.columns)
v = s.str.lower()

b = v.str.replace(' ', '_')

names = {}
num = 0
for i in s:
    names[i] = b[num]
    num = num + 1

bookings = bookings.rename(columns=names)

bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [73]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [112]:
#рейтинг стран по количеству броней

country_rate = bookings \
    .query("is_canceled == 0") \
    .country.value_counts()

country_rate

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
PYF        1
NAM        1
SYC        1
LCA        1
DMA        1
Name: country, Length: 165, dtype: int64

In [81]:
#посчитай среднее значение бронирований на ночь по типам отелей

type_mean = bookings \
    .groupby('hotel') \
    .aggregate({'stays_total_nights':'mean'})

type_mean.round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [87]:
#найди те брони, где название номера отличается от изначально забронированного

rooms = bookings \
    .query("assigned_room_type != reserved_room_type") 

rooms.shape

(14917, 21)

In [92]:
#какой месяц был самым популярным?

arrival_date_month_rate = bookings \
    .query("arrival_date_year == 2017") \
    .arrival_date_month.value_counts()

arrival_date_month_rate

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [91]:
arrival_date_month_rate['October']

6203

In [115]:
a = bookings.query("is_canceled == 1")

In [116]:
a = a.query("hotel == 'City Hotel'")

In [117]:
a = a.groupby('arrival_date_year') \
    .arrival_date_month.value_counts()

In [118]:
a

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [119]:
bookings.babies.describe()

count    119390.000000
mean          0.007949
std           0.097436
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: babies, dtype: float64

In [120]:
bookings.children.describe()

count    119386.000000
mean          0.103890
std           0.398561
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: children, dtype: float64

In [121]:
bookings.adults.describe()

count    119390.000000
mean          1.856403
std           0.579261
min           0.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          55.000000
Name: adults, dtype: float64

In [129]:
bookings['total_kids'] = 0

bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date',
       'total_kids'],
      dtype='object')

In [133]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0

In [155]:
c = bookings.groupby('hotel') \
.agg({'total_kids': 'mean'}) \

In [156]:
c

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [157]:
bookings['has_kids'] = 0

In [162]:
bookings['has_kids'] = bookings.total_kids != 0
bookings['has_kids']

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [182]:
Group_True = bookings.query("has_kids == True") \
                    .agg({'has_kids':'count'})

In [184]:
ChUrn_group_True = bookings.query("has_kids == True") \
                           .query("is_canceled != 0") \
                           .agg({'has_kids':'count'})

In [185]:
churn_True =  ChUrn_group_True/Group_True
churn_True

has_kids    0.349507
dtype: float64

In [183]:
Group_False = bookings.query("has_kids == False") \
                     .agg({'has_kids':'count'}) 

ChUrn_group_False = bookings.query("has_kids == False") \
                           .query("is_canceled != 0") \
                           .agg({'has_kids':'count'})

churn_False =  ChUrn_group_False/Group_False

churn_False

has_kids    0.37219
dtype: float64